@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  background-image: url('/public/assets/img/bg_home.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .text-home {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 6px 6px 7px #000000;
  }
}

.nav-item {
  a {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    margin-right: 20px;
    color: aliceblue;
  }
}
  
